## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Byron Bay,AU,77.70,scattered clouds,-28.6500,153.6167,Backpackers Inn on the Beach
1,7,Georgetown,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang
2,14,Atuona,PF,77.29,light rain,-9.8000,-139.0333,Villa Enata
3,23,El Pinon,CO,80.74,overcast clouds,10.4028,-74.8242,Hotel Sol
4,41,Kapaa,US,80.58,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} 째F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
vacation_start = vacation_df.loc[vacation_df["City"]=="Itarema"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Itarema"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Natal"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Conde"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Parnarama"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.loc[vacation_start.head().index.values[0],['Lat','Lng']].to_numpy(dtype=tuple)
end = vacation_end.loc[vacation_end.head().index.values[0],["Lat","Lng"]].to_numpy(dtype=tuple)
stop1 = vacation_stop1.loc[vacation_stop1.head().index.values[0],["Lat","Lng"]].to_numpy(dtype=tuple)
stop2 = vacation_stop2.loc[vacation_stop2.head().index.values[0],["Lat","Lng"]].to_numpy(dtype=tuple)
stop3 = vacation_stop3.loc[vacation_stop3.head().index.values[0],["Lat","Lng"]].to_numpy(dtype=tuple)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
direction_layer = gmaps.directions_layer(start, end, waypoints=(stop1, stop2, stop3), travel_mode='DRIVING')
fig = gmaps.figure()
fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,45,Itarema,BR,80.33,overcast clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
1,233,Natal,BR,79.45,broken clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
2,545,Conde,BR,78.26,few clouds,-7.2597,-34.9075,Pousada Beija Flor
3,407,Parnarama,BR,77.45,overcast clouds,-5.6817,-43.0933,Hotel S찾o Luiz

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} 째F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))